// MARVEL BATTLEAPP
// COLOR GUIDE

// MARVEL RED
$marvel-red: #ed1b24;
$marvel-red-light: #f14950;
$marvel-red-dark: #be161d;

// MARVEL BLUE
$marvel-blue: #3a405a;
$marvel-blue-light: #61667b;
$marvel-blue-dark: #2e3348;

// MARVEL NAVY
$marvel-navy: #0a122a;
$marvel-navy-light: #364155;
$marvel-navy-dark: #080e22;

// MARVEL GOLD
$marvel-gold: #ffba08;
$marvel-gold-light: #ffc839;
$marvel-gold-dark: #cc9506;

// GRAYSCALE COLLECTION
$grayscale-0: #ffffff;
$grayscale-1: #f2f2f2;
$grayscale-2: #e5e5e5;
$grayscale-3: #d9d8d9;
$grayscale-4: #cccccc;
$grayscale-5: #bfbfbf;
$grayscale-6: #b2b2b2;
$grayscale-7: #a6a6a6;
$grayscale-8: #999999;
$grayscale-9: #8c8c8c;
$grayscale-10: #807f80;
$grayscale-11: #737373;
$grayscale-12: #666666;
$grayscale-13: #595959;
$grayscale-14: #4d4c4d;
$grayscale-15: #404040;
$grayscale-16: #333333;
$grayscale-17: #262626;
$grayscale-18: #191919;
$grayscale-19: #0d0d0d;
$grayscale-20: #000000;