// MARVEL BATTLE APP
// FOOTER STYLES

#footer-primary {
	height: auto;
	width: 100%;
	background-color: $marvel-navy;
	display: block;
	position: relative;
	bottom: 0%;
	left: 0%;
	padding: 5%;
	box-sizing: border-box;

	h6 {
		font-size: 1.00em;
		text-align: center;
		color: #ffffff;
		margin: 0%;
	}

	p {
		font-size: 0.60em;
		text-align: center;
		color: #ffffff;
		margin: 0%;
	}

	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 425px) {}
	@media screen and (min-width: 500px) {}
	@media screen and (min-width: 700px) {
		h6 {
			font-size: 1.25em;
		}
		p {
			font-size: 0.80em;
		}
	}
	@media screen and (min-width: 768px) {}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {
		h6 {
			font-size: 1.50em;
		}
		p {
			font-size: 1.00em;
		}
	}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END FOOTER-PRIMARY