// MARVEL BATTLE APP
// GRID-12 STYLES

// MARVEL BATTLEAPP
// PAGE GRID - 12 COLUMN

.grid-1 {
	width: 100.00%;

	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 500px) {
		width: 50.00%;
	}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {
		width: 25.00%;
	}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {
		width: 8.33%;
	}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END GRID-1

.grid-2 {
	width: 100.00%;

	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 500px) {
		width: 50.00%;
	}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {
		width: 25.00%;
	}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {
		width: 16.66%;
	}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END GRID-2

.grid-3 {
	width: 100.00%;

	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 500px) {
		width: 50.00%;
	}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {
		width: 25.00%;
	}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END GRID-3

.grid-4 {
	width: 100.00%;

	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 500px) {
		width: 50.00%;
	}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {
		width: 33.33%;
	}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END GRID-4

.grid-5 {
	width: 100.00%;

	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 500px) {
		width: 50.00%;
	}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {
		width: 41.66%;
	}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END GRID-5

.grid-6 {
	width: 100.00%;

	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 500px) {
		width: 50.00%
	}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END GRID-6

.grid-7 {
	width: 100.00%;

	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 500px) {
		width: 50.00%;
	}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {
		width: 58.33%;
	}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END GRID-7

.grid-8 {
	width: 100.00%;

	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 500px) {
		width: 50.00%;
	}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {
		width: 66.66%;
	}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END GRID-8

.grid-9 {
	width: 100.00%;

	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 500px) {
		width: 50.00%;
	}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {
		width: 75.00%;
	}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END GRID-9

.grid-10 {
	width: 100.00%;

	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 500px) {}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {
		width: 83.33%;
	}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END GRID-10

.grid-11 {
	width: 100.00%;

	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 500px) {}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {
		width: 91.66%;
	}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END GRID-11

.grid-12 {
	width: 100.00%;

	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 500px) {}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END GRID-12