// MARVEL BATTLE APP
// TEXT STYLES

// HEADINGS
h1, h2, h3, h4, h5, h6 {
	font-family: Bangers, Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.10;
	letter-spacing: 1.00px;
	margin-bottom: 10%;
} // END H-TAGS

h1 {
	font-size: 1.75em;
	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 425px) {}
	@media screen and (min-width: 500px) {}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END H1

h2 {
	font-size: 1.50em;
	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 425px) {}
	@media screen and (min-width: 500px) {}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END H2

h3 {
	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 425px) {}
	@media screen and (min-width: 500px) {}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END H3

h4 {
	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 425px) {}
	@media screen and (min-width: 500px) {}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END H4

h5 {
	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 425px) {}
	@media screen and (min-width: 500px) {}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END H5

h6 {
	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 425px) {}
	@media screen and (min-width: 500px) {}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END H6


// BODY TEXT
p {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 0.70em;
	font-weight: 300;
	line-height: 1.50;
	margin-bottom: 8%;

	@media screen and (min-width: 320px) {}
	@media screen and (min-width: 375px) {}
	@media screen and (min-width: 425px) {}
	@media screen and (min-width: 500px) {}
	@media screen and (min-width: 700px) {}
	@media screen and (min-width: 768px) {}
	@media screen and (min-width: 900px) {}
	@media screen and (min-width: 1024px) {}
	@media screen and (min-width: 1200px) {}
	@media screen and (min-width: 1440px) {}
} // END P